* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #eee7dc;
}


.ai {
    background: #9396D4;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    border-radius: 16px;

}

.about-me {
    background: #ffffff;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 150px;
    top: -750px;
    border-radius: 16px;
}