
.header_menu {
    background-color: var(--div-background-color);
    text-align: center;
    padding: 10px 0;
    box-shadow: 10px 10px 20px var(--div_section-background-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu_items {
    list-style: none;
    font-size: 1.1rem;
    line-height: 2rem;
    display: none;
}

.menu_items a {
    text-decoration: none;
    color: black;
}

.menu_items li {
    flex: 1;
    border-right: 1px solid black;
}

.menu_items li:last-child {
    border-right: none;
}

.menu_items li:hover {
    text-decoration: underline;
    text-decoration-color: var(--div_section-background-color);

}

.menu_items li:hover a {
    color: var(--div_section-background-color);
    font-weight: bold;
}

.header_menu a.active {
    text-decoration: underline;
    color: var(--div_section-background-color);
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .menu_items {
        flex-direction: column;
        width: 100%;
    }

    .menu_items li {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .menu_items li:last-child {
        border-bottom: none;
    }
}

.menu_toggle {
    display: block;
}

@media screen and (min-width: 992px) {
    .menu_items {
        display: flex;
    }
    .menu_toggle {
        display: none;
    }
}

