.header_menu {
  /*background-color: var(--div-background-color);*/
  background-color: #f0f0f0;
  text-align: center;
  padding: 1em;
  box-shadow: 10px 10px 20px var(--div_section-background-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu_items {
  list-style: none;
  font-size: 1.1rem;
  line-height: 2rem;
  display: none;
}

.menu_items a {
  text-decoration: none;
  color: #333;
}

.menu_items li {
  flex: 1;
  border-right: 1px solid #333;
}

.menu_items li:last-child {
  border-right: none;
}

.menu_items li:hover {
  text-decoration: underline;
  text-decoration-color: var(--div_section-background-color);
}

.menu_items li:hover a {
  color: var(--div_section-background-color);
  font-weight: bold;
}

.header_menu a.active {
  text-decoration: underline;
  color: var(--div_section-background-color);
  font-weight: bold;
}

.menu_toggle {
  display: flex; /* Ustawia elementy w elastycznym układzie */
  flex-direction: column; /* Elementy układają się w kolumnie */
  justify-content: space-around; /* Równomierne rozmieszczenie linii */
  width: 30px; /* Szerokość przycisku */
  height: 30px; /* Wysokość przycisku */
  background: none; /* Brak tła */
  border: none; /* Brak obramowania */
  cursor: pointer; /* Kursor wskazuje na możliwość kliknięcia */
  padding: 0; /* Brak wewnętrznych marginesów */
  z-index: 10; /* Przycisk na górze innych elementów */
}

.menu_toggle .bar {
  width: 100%; /* Linia zajmuje całą szerokość przycisku */
  height: 3px; /* Wysokość każdej linii */
  background-color: #333; /* Kolor linii */
  border-radius: 3px; /* Zaokrąglone krawędzie */
  transition: all 0.5s ease; /* Animacja przejścia */
}

.menu_toggle.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* Pierwsza linia obraca się */
}

.menu_toggle.open .bar:nth-child(2) {
  opacity: 0; /* Druga linia znika */
}

.menu_toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px); /* Trzecia linia obraca się */
}

.menu_items.show {
  display: flex;
}

@media screen and (min-width: 992px) {
  .menu_items {
    display: flex;
  }
  .menu_toggle {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .menu_items {
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-left: 40px;
  }

  .menu_items li {
    border-right: none;
    border-bottom: 1px solid #333;
  }

  .menu_items li:last-child {
    border-bottom: none;
  }
  .header_menu {
    box-shadow: none;
  }
}
