
.header_menu {
    background-color: var(--div-background-color);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 10px 0;
    box-shadow: 10px 10px 20px var(--div_section-background-color);
}

.header_menu ol {
    list-style: none;
    font-size: 1.1rem;
    line-height: 2rem;
    display: flex;
}

.header_menu ol a {
    text-decoration: none;
    color: black;
}

.header_menu ol li {
    flex: 1;
    border-right: 1px solid black;
}

.header_menu ol li:last-child {
    border-right: none;
}

.header_menu ol li:hover {
    text-decoration: underline;
    text-decoration-color: var(--div_section-background-color);

}

.header_menu ol li:hover a {
    color: var(--div_section-background-color);
    font-weight: bold;
}

.header_menu a.active {
    text-decoration: underline;
    color: var(--div_section-background-color);
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .header_menu ol {
        flex-direction: column;
        width: 100%;
    }

    .header_menu ol li {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .header_menu ol li:last-child {
        border-bottom: none;
    }
}