:root{
    font-size: 16px;
    --div_section-background-color: #9396D4;
    --div-background-color: #ffffff;
    --button-background-color: #e33bbe;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #eee7dc;
}


.header_menu {
    background-color: var(--div-background-color);
    text-align: center;
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: 10px 0;
    box-shadow: 10px 10px 20px var(--div_section-background-color);
}

.header_menu ol {
    list-style: none;
    font-size: 1.1rem;
    line-height: 2rem;
    display: flex;
}

.header_menu ol a {
    text-decoration: none;
    color: black;
}

.header_menu ol li {
    flex: 1;
    border-right: 1px solid black;
}

.header_menu ol li:last-child {
    border-right: none;
}

.header_menu ol li:hover{
    text-decoration: underline;
    text-decoration-color: var(--div_section-background-color);

}

.header_menu ol li:hover a {
    color: var(--div_section-background-color);
    font-weight: bold;
}

.header_menu a.active{
    text-decoration: underline;
    color: var(--div_section-background-color);
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .header_menu ol {
        flex-direction: column;
        width: 100%;
    }

    .header_menu ol li {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .header_menu ol li:last-child {
    border-bottom: none;
    }
}


.ai {
    background-color: var(--div_section-background-color);
    width: 50%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 16px;
}

.about_me {
    background-color: var(--div-background-color);
    width: 50%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 150px;
    top: -750px;
    border-radius: 16px;
    display: flex;
}

.about_me_photo {
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    background: no-repeat url(../images/foto1.jpg);
    background-size: cover;
}

.about_me_card {
    width: 60%;
    height: 100%;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-direction: column;
}

h1{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    font-size: 2rem;
}

p{
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    text-indent: 20px;
}

.cv_button {
    background-color: var(--button-background-color);
    color: white;
    border-radius: 8px;
    padding: 10px;
    letter-spacing: 0.1rem;
    border: none;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.cv_button:hover{
    background-color: deeppink;
}

.social_media{
    width: 90%;
    height: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    text-align: center;
}

.fb
{
    width: 20%;
    height: 100%;
    float:left;
    font-size: 60px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.fb:hover
{
    background-color: #4668b3;
}

.yt
{
    width:20%;
    height: 100%;
    float:left;
    font-size: 60px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.yt:hover
{
    background-color: #d94348;
}

.tw
{
    width: 20%;
    height: 100%;
    float:left;
    font-size: 60px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.tw:hover
{
    background-color: #3095d3;
}

.inst
{
    width: 20%;
    height: 100%;
    float:left;
    font-size: 60px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.inst:hover
{
    background-color: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.linke
{
    width: 20%;
    height: 100%;
    float:left;
    font-size: 60px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.linke:hover
{
    background-color: #378fe9;
}

a.social-link {
    text-decoration: none;
    color: white;
}